<html >
<head >
<link rel="stylesheet" type="text/css" href="styles.css" >
</link>
</head>
<body style="width: 1280px; height: 720px;" class="guestline" >
<div name="Master1-Layout46-cust-Basic-Text---2-Seperate-columns---Dark---wide" page-layout-name="pageLayout1" class="a5505" style="" >
<div id="id463" class="a5506" name="Picture 12" rel-width="scale" rel-height="scale" style="z-index: 100; left: 91px; top: 670px; width: 17px; height: 18px; position: absolute; " >
<div style="background-image: url('media/image23.svg'); background-size: contain; width:100%; height:100%" >
</div>
</div>
<div id="id464" class="a5507" name="Picture 9" rel-width="scale" rel-height="scale" style="left: 0px; top: 0px; width: 1280px; height: 720px; position: absolute; " >
<div style="background-image: url('media/image24.jpeg'); background-size: auto; width:100%; height:100%" >
</div>
</div>
<div id="id465" class="a5511" name="Slide Number Placeholder 5" presentation-class="page-number" placeholder="false" style="left: 1020px; top: 659px; width: 169px; height: 38px; position: absolute; " >
<p class="a5510" class-names="" cond-style-name="" style="" >
<span class="a5508" class-names="" style="" >
‹#›
</span>
<span class="a5509" class-names="" style="" >

</span>
</p>
</div>
<div id="id466" class="a5514" name="Footer Placeholder 4" presentation-class="footer" placeholder="false" style="left: 113px; top: 660px; width: 518px; height: 38px; position: absolute; " >
<p class="a5513" class-names="" cond-style-name="" style="" >
<span class="a5512" class-names="" style="" >
Guestline - Presentation Title
</span>
</p>
</div>
<div id="id467" class="a5515" name="Picture 44" rel-width="scale" rel-height="scale" style="left: 91px; top: 670px; width: 17px; height: 18px; position: absolute; " >
<div style="background-image: url('media/image23.svg'); background-size: contain; width:100%; height:100%" >
</div>
</div>
<div id="id468" class="a5518" name="Title 1" presentation-class="title" placeholder="false" style="left: 91px; top: 90px; width: 1098px; height: 66px; position: absolute; " >
<p class="a5517" class-names="" cond-style-name="" style="" >
<span class="a5516" class-names="" style="" >
Slide title goes in here
</span>
</p>
</div>
<div id="id469" class="a5522" name="Text Placeholder 2" presentation-class="outline" placeholder="false" style="left: 91px; top: 209px; width: 540px; height: 76px; position: absolute; " >
<p class="a5520" class-names="" cond-style-name="" style="" >
<span class="a5519" class-names="" style="" >
Subtitle goes in herelike this
</span>
</p>
</div>
<div id="id470" class="a5526" name="Text Placeholder 2" presentation-class="outline" placeholder="false" style="left: 648px; top: 209px; width: 541px; height: 76px; position: absolute; " >
<p class="a5524" class-names="" cond-style-name="" style="" >
<span class="a5523" class-names="" style="" >
Subtitle goes in herelike this
</span>
</p>
</div>
<div id="id471" class="a5536" name="Text Placeholder 3" presentation-class="outline" placeholder="false" style="left: 648px; top: 315px; width: 541px; height: 315px; position: absolute; " >
<ul >
<li style="" >
<p class="a5528" class-names="" cond-style-name="" style="" >
<span class="a5527" class-names="" style="" >
Bullet point
</span>
</p>
</li>
</ul>
<ul >
<ul >
<li style="" >
<p class="a5531" class-names="" cond-style-name="" style="" >
<span class="a5530" class-names="" style="" >
Bullet point
</span>
</p>
</li>
</ul>
</ul>
<ul >
<ul >
<ul >
<li style="" >
<p class="a5534" class-names="" cond-style-name="" style="" >
<span class="a5533" class-names="" style="" >
Bullet point
</span>
</p>
</li>
</ul>
</ul>
</ul>
</div>
<div id="id472" class="a5546" name="Text Placeholder 3" presentation-class="outline" placeholder="false" style="left: 90px; top: 315px; width: 541px; height: 315px; position: absolute; " >
<p class="a5538" class-names="" cond-style-name="" style="" >
<span class="a5537" class-names="" style="" >
Bullet point
</span>
</p>
<ul >
<ul >
<li style="" >
<p class="a5541" class-names="" cond-style-name="" style="" >
<span class="a5540" class-names="" style="" >
Bullet point
</span>
</p>
</li>
</ul>
</ul>
<ul >
<ul >
<ul >
<li style="" >
<p class="a5544" class-names="" cond-style-name="" style="" >
<span class="a5543" class-names="" style="" >
Bullet point
</span>
</p>
</li>
</ul>
</ul>
</ul>
</div>
</div>

</body>
</html>
