<html >
<head >
<link rel="stylesheet" type="text/css" href="styles.css" >
</link>
</head>
<body style="width: 1280px; height: 720px;" class="guestline" >
<div name="Master1-Layout58-cust-Basic-Text,-side-title---dark" page-layout-name="pageLayout1" class="a6837" style="" >
<div id="id582" class="a6838" name="Picture 11" rel-width="scale" rel-height="scale" style="z-index: 100; left: 91px; top: 670px; width: 17px; height: 18px; position: absolute; " >
<div style="background-image: url('media/image23.svg'); background-size: contain; width:100%; height:100%" >
</div>
</div>
<div id="id583" class="a6839" name="Picture 10" rel-width="scale" rel-height="scale" style="left: 0px; top: 0px; width: 1280px; height: 720px; position: absolute; " >
<div style="background-image: url('media/image24.jpeg'); background-size: auto; width:100%; height:100%" >
</div>
</div>
<div id="id584" class="a6840" name="Picture 2" rel-width="scale" rel-height="scale" style="left: 0px; top: 0px; width: 1280px; height: 720px; position: absolute; " >
<div style="background-image: url('media/image32.png'); background-size: auto; width:100%; height:100%" >
</div>
</div>
<div id="id585" class="a6844" name="Slide Number Placeholder 5" presentation-class="page-number" placeholder="false" style="left: 1020px; top: 659px; width: 169px; height: 38px; position: absolute; " >
<p class="a6843" class-names="" cond-style-name="" style="" >
<span class="a6841" class-names="" style="" >
‹#›
</span>
<span class="a6842" class-names="" style="" >

</span>
</p>
</div>
<div id="id586" class="a6847" name="Footer Placeholder 4" presentation-class="footer" placeholder="false" style="left: 113px; top: 660px; width: 518px; height: 38px; position: absolute; " >
<p class="a6846" class-names="" cond-style-name="" style="" >
<span class="a6845" class-names="" style="" >
Guestline - Presentation Title
</span>
</p>
</div>
<div id="id587" class="a6848" name="Picture 44" rel-width="scale" rel-height="scale" style="left: 91px; top: 670px; width: 17px; height: 18px; position: absolute; " >
<div style="background-image: url('media/image23.svg'); background-size: contain; width:100%; height:100%" >
</div>
</div>
<div id="id588" class="a6851" name="Title 1" presentation-class="title" placeholder="false" style="left: 90px; top: 169px; width: 279px; height: 289px; position: absolute; " >
<p class="a6850" class-names="" cond-style-name="" style="" >
<span class="a6849" class-names="" style="" >
This is a title and it goes here like this
</span>
</p>
</div>
<div id="id589" class="a6856" name="Text Placeholder 2" presentation-class="outline" placeholder="false" style="left: 555px; top: 169px; width: 634px; height: 48px; position: absolute; " >
<p class="a6854" class-names="" cond-style-name="" style="" >
<span class="a6852" class-names="" style="" >
Subitle
</span>
<span class="a6853" class-names="" style="" >
goes here
</span>
</p>
</div>
<div id="id590" class="a6892" name="Text Placeholder 11" presentation-class="outline" placeholder="false" style="left: 555px; top: 234px; width: 634px; height: 355px; position: absolute; " >
<ul >
<li style="" >
<p class="a6880" class-names="" cond-style-name="" style="" >
<span class="a6857" class-names="" style="" >
This is a bullet point lorem ipsum dolor sit
</span>
<span class="a6858" class-names="" style="" >
amet
</span>
<span class="a6859" class-names="" style="" >
,
</span>
<span class="a6860" class-names="" style="" >
consectetur
</span>
<span class="a6861" class-names="" style="" >

</span>
<span class="a6862" class-names="" style="" >
adipiscing
</span>
<span class="a6863" class-names="" style="" >

</span>
<span class="a6864" class-names="" style="" >
elit
</span>
<span class="a6865" class-names="" style="" >
,
</span>
<span class="a6866" class-names="" style="" >
sed
</span>
<span class="a6867" class-names="" style="" >
do
</span>
<span class="a6868" class-names="" style="" >
eiusmod
</span>
<span class="a6869" class-names="" style="" >

</span>
<span class="a6870" class-names="" style="" >
tempor
</span>
<span class="a6871" class-names="" style="" >

</span>
<span class="a6872" class-names="" style="" >
incididunt
</span>
<span class="a6873" class-names="" style="" >

</span>
<span class="a6874" class-names="" style="" >
ut
</span>
<span class="a6875" class-names="" style="" >

</span>
<span class="a6876" class-names="" style="" >
labore
</span>
<span class="a6877" class-names="" style="" >
et dolore magna
</span>
<span class="a6878" class-names="" style="" >
aliqua
</span>
<span class="a6879" class-names="" style="" >
.
</span>
</p>
</li>
</ul>
<ul >
<ul >
<li style="" >
<p class="a6886" class-names="" cond-style-name="" style="" >
<span class="a6882" class-names="" style="" >
Sdfgdfg
</span>
<span class="a6883" class-names="" style="" >

</span>
<span class="a6884" class-names="" style="" >
sdfgsdfg
</span>
<span class="a6885" class-names="" style="" >

</span>
</p>
</li>
</ul>
</ul>
<ul >
<ul >
<ul >
<li style="" >
<p class="a6890" class-names="" cond-style-name="" style="" >
<span class="a6888" class-names="" style="" >
sdfbsdfbsdf
</span>
<span class="a6889" class-names="" style="" >

</span>
</p>
</li>
</ul>
</ul>
</ul>
</div>
</div>

</body>
</html>
