<html>

<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
  </link>
</head>

<body style="width: 1280px; height: 720px;" class="guestline">
  <div name="Master1-Layout157-cust-End-slide" page-layout-name="pageLayout1" class="a17772" style="">
    <div id="id854" class="a9327" name="Picture 7" rel-width="scale" rel-height="scale"
      style="left: 0px; top: 325px; width: 1640px; height: 923px; position: absolute; ">
      <div style="background-image: url('media/image38.png'); background-size: auto; width:100%; height:100%">
      </div>
    </div>
    <div id="id2032" class="a17776" name="Title 1" presentation-class="title" placeholder="false"
      style="left: 183px; top: 317px; width: 913px; height: 61px; position: absolute; ">
      <p class="a17775" class-names="" cond-style-name="" style="">
        <span class="a17774" class-names="" style="">
          Thank you
        </span>
      </p>
    </div>
    <div id="id2033" class="a17781" name="Text Placeholder 2" presentation-class="outline" placeholder="false"
      style="left: 183px; top: 470px; width: 913px; height: 40px; position: absolute; ">
      <p class="a17779" class-names="" cond-style-name="" style="">
        <span class="a17777" class-names="" style="">
          Guestline.com
        </span>
        <span class="a17778" class-names="" style="">

        </span>
      </p>
    </div>
    <div id="id2034" class="a17785" name="Text Placeholder 2" presentation-class="outline" placeholder="false"
      style="left: 183px; top: 437px; width: 913px; height: 26px; position: absolute; ">
      <p class="a17783" class-names="" cond-style-name="" style="">
        <span class="a17782" class-names="" style="">
          Please visit
        </span>
      </p>
    </div>
  </div>

</body>

</html>